.container-fluid
    .main-slider.splide
        div.splide__track
            ul.splide__list
                li.splide__slide
                    .main-slider__grid
                        .main-slider__item
                            img(src=require('../../img/big-img.png'), alt="alt")
                        .main-slider__item
                            img(src=require('../../img/small-img.png'), alt="alt")
                        .main-slider__item
                            img(src=require('../../img/small-img.png'), alt="alt")
                li.splide__slide
                    .main-slider__grid
                        .main-slider__item
                            img(src=require('../../img/big-img.png'), alt="alt")
                        .main-slider__item
                            img(src=require('../../img/small-img.png'), alt="alt")
                        .main-slider__item
                            img(src=require('../../img/small-img.png'), alt="alt")
                